{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'deps/css/my_footer_css.css' %}">
{% endblock %}

{% block content %}
    <div class="mt-5 pt-5 pb-5 bg-white custom-shadow rounded-3" style="text-align: center">
        <h1 class="m-2"><strong>{{ content }}</strong></h1>
    </div>
{% endblock %}

{% block footer %}
    <footer class="py-4 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Vlad4Per</p>
        </div>
    </footer>
{% endblock %}
